


main{
    min-height: calc(100vh - 100px);
}


body {
    min-height: 100%;
    background-image: url(../images/img2/nature3.jpg);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
  }


h1{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    font-style: italic;
    color: white;
    font-family: 'tangerine';
}


.font-effect-3d-float{
    color:white;
    font-style:italic ;
    font-family: 'tangerine', serif;
    text-shadow: 4px 4px 4px #d49f62;
   
   
  }

  p{
    color:white;
    text-align: center;
    font-size: 19px;
    background-color: #2c2a2976;
    padding: 3%;
    border-radius: 25px;
  }
  
  .form-check-label{
    color: rgb(255, 255, 255);
  }

  .card{

    background-color: #2c2a29c1;
    padding:20px;
    color: rgb(228, 173, 106);
    text-shadow: 2px 3px 4px #8c9a54;

  }

  .card-body a {
    color: rgba(255, 98, 0, 0.76);
    text-shadow: 2px 3px 4px #d4b962;
  }
  

   footer {

    background-color: #000d1265;
    padding:20px;
    padding-bottom:2rem;
    margin-bottom: 0;
    margin-top: auto;
  
  }

  .bottom-footer{
    color: rgb(241, 241, 246);
    font-size: small;
    background-color: #12131300;
  }

.nav-item{
    font-size: small;
    color: antiquewhite;

}