body {
    background: rgba(119, 158, 88, 0.734)
}
body {

    height:100%


}

html{
    height:100%
}

   #heroSection {
     text-align: center;
   }


   #heroSection {
    background-color: rgb(134, 165, 129);
   }

   #middleSection {

    background-color: rgb(134, 165, 129);
   }

   #bottomSection {
background-color: rgb(134, 165, 129);
   }