
/* * {
    margin: 0;
    padding: 0;
} */

body {
    background: linear-gradient(rgb(225, 234, 150), rgb(233, 192, 130), rgb(197, 190, 127), rgb(181, 204, 163), rgb(168, 201, 144));
    /* background: rgba(119, 158, 88, 0.734) */

    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {

height: 100%;
}

html{

 height: 100%;
}


body.home {


   
    background-image: url('../images/nature-backgrounds-2.jpg');
    background-position: center-center;
    background-size:cover;
    background-attachment: fixed;
    
    
    

}


    


 #centeredSection {
   height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
} 

.content-container {
    background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha value (0.7) to control the transparency */
    padding: 50px; /* Add some padding to the container */
  }
  

.h1-text{
    color: rgb(248, 247, 247); 
  }
  


.card {

    margin: 10px;
}


#parkTypeSelect {
    display: none;
}





p{
    color: rgb(129, 79, 39);
}




/*-------------------------------------------------- */

